#Lightbox {
  background-color: #e6e6e6;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  transition: all 1s; }
  #Lightbox.opened {
    display: flex;
    opacity: 0;
    animation-name: lightboxFadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }

@keyframes lightboxFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  #Lightbox .close {
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    background-color: #272727;
    color: #EFEFEF;
    transform: rotate(-45deg) translate(70px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: closeBlink;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3; }
    #Lightbox .close:hover {
      cursor: pointer; }
    #Lightbox .close span {
      display: block;
      font-size: 2rem;
      transform: rotate(45deg) translateX(-20px) translateY(20px); }

@keyframes closeBlink {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  #Lightbox img {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vh;
    object-fit: contain; }
