#View .header {
  background-color: #EFEFEF;
  margin-bottom: 25px;
  padding: 5px; }
  #View .header h1 {
    text-align: right;
    margin: 0;
    font-size: 2rem; }
  #View .header .lead {
    font-size: 1.1rem; }

#View .content {
  margin-top: 50px; }

#View .grid {
  display: grid;
  padding: 10px; }

#View .card {
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-out; }
  #View .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35); }
  #View .card a:hover {
    cursor: pointer; }
  #View .card a img {
    border: 1px solid #EFEFEF;
    display: block;
    width: 100%;
    height: auto; }
  #View .card .desc {
    display: flex;
    flex-direction: row;
    border: 1px solid #272727; }
    #View .card .desc .icon {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center; }
    #View .card .desc .text {
      padding: 5px;
      color: white;
      background-color: #272727;
      width: 100%;
      display: flex;
      align-items: center; }

#View .info {
  margin: 10px;
  padding: 5px;
  color: #272727;
  border: 2px solid #272727;
  background-color: white;
  display: flex; }
  #View .info .icon {
    font-size: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center; }
  #View .info .text {
    padding: 5px; }

@media screen and (min-width: 500px) {
  #View .grid {
    grid-gap: 25px;
    align-items: center; }
    #View .grid.cols-2 {
      grid-template-columns: 1fr 1fr; }
    #View .grid.cols-3 {
      grid-template-columns: 1fr 1fr 1fr; }
    #View .grid.cols-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr; }
    #View .grid.for-3-1 {
      grid-template-columns: 3fr 1fr; }
  #View .card {
    padding: 0px; } }

@media screen and (min-width: 1200px) {
  #View .header > div {
    width: 75%;
    margin-left: auto;
    margin-right: 50px; }
    #View .header > div p:first-child {
      margin-top: 0px; }
  #View .grid {
    padding: 50px;
    grid-gap: 50px; }
  #View .info {
    margin: 50px; } }

@media screen and (min-width: 1300px) {
  #View > .content {
    width: 75%;
    margin-left: auto;
    margin-right: auto; } }
