//The basic black and white color variables
$dark:#272727;
$light:#EFEFEF;

//For the media queries

$xs:320px;
//iPhone 5
$sd:600px;
//iPad
$md:768px;
$lg:992px;
$xl:1200px;

//Des couleurs que je trouve assez sympa...
$gray:#E8E8E8;
$blue:#5DB3E0;
$steel:#2C7297;
$maroon:#996F42;
$yellow:#F4A700;